/* livvic-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/livvic-v13-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/livvic-v13-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/livvic-v13-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/livvic-v13-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-500italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Livvic';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/livvic-v13-latin-500italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/livvic-v13-latin-500italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/livvic-v13-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/livvic-v13-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/livvic-v13-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/livvic-v13-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-700italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Livvic';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/livvic-v13-latin-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/livvic-v13-latin-700italic.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */
/************** ROOT STYLES START **************/
:root{
    --header-bg-color: #014E56;
    --main-bg-color: #fff;
    --main-text-color: #fff;
    --main-subtitle-color: #F67E7E;
    --build-bg-color: #012F34;
    --deliver-bg-color: #004047;
    --deliver-name-color: #79C8C7;
    --footer-bg-color: #002529;
}

html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Livvic", "Arial", sans-serif;
    font-weight: 600;
    background-color: var(--main-bg-color);
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

ol,
ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
}
/************** /ROOT STYLES END **************/
/* •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */
/************** HEADER STYLES START **************/
.site-header {
    padding-top: 73px;
    padding-bottom: 73px;
    background-color: var(--header-bg-color);
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__wrapper--start {
    display: flex;
    align-items: center;
}

.site-header__logo {
    margin-right: 80px;
}

.site-header__logo--img {
    width: 160px;
    height: 40px;
}

.sitenav__list {
    display: flex;
}

.sitenav__item:not(:last-child) {
    margin-right: 40px;
}

.sitenav__link {
    font-size: 18px;
    line-height: 28px;
    color: var(--main-text-color);
}

.site-header__btn {
    padding: 9px 33px;
    border: 2px solid var(--main-text-color);
    border-radius: 24px;
    font-size: 18px;
    line-height: 28px;
    color: var(--main-text-color);
}
/************** HEADER STYLES END **************/
/* •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */
/************** FOOTER STYLES START **************/
.site-footer {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: var(--footer-bg-color) ;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__wrapper--start {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
} 

.footer__logo {
    margin-right: 125px;
}

.footer__logo--img {
    width: 160px;
    height: 40px;
    margin-bottom: 25px;
}

.footer__list {
    display: flex;
    align-items: center;
}

.footer__item:not(:last-child) {
    margin-right: 40px;
}

.footer__link {
    font-size: 18px;
    line-height: 28px;
    color: var(--main-text-color);
}

.footer__address {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: var(--main-text-color);
    opacity: 0.6;
}

.social__list {
    margin-bottom: 51px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.social__item:not(:last-child) {

    margin-right: 16px;
}

.footer__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    color: var(--main-text-color);
    opacity: 0.6;
}

/************** FOOTER STYLES END **************/